@page
@model Backend.Pages.AfegirTreballadorModel

@{
    ViewData["Title"] = "AfegirTreballador";
}

<h1>AfegirTreballador</h1>

<h4>Establiment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Establiment.Nom" class="control-label"></label>
                <input asp-for="Establiment.Nom" class="form-control" />
                <span asp-validation-for="Establiment.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Establiment.Tipus" class="control-label"></label>
                <input asp-for="Establiment.Tipus" class="form-control" />
                <span asp-validation-for="Establiment.Tipus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Establiment.Accesibilitat" class="control-label"></label>
                <input asp-for="Establiment.Accesibilitat" class="form-control" />
                <span asp-validation-for="Establiment.Accesibilitat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Establiment.ClientId" class="control-label"></label>
                <select asp-for="Establiment.ClientId" class ="form-control" asp-items="ViewBag.ClientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Establiment.UbicacioId" class="control-label"></label>
                <select asp-for="Establiment.UbicacioId" class ="form-control" asp-items="ViewBag.UbicacioId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
